# Programming Paradigms
---

> ### Procedural

- Write sequential series of execution steps/tasks

- "Top to bottom" code execution

> ### Functional

- Organize code in functions with clearly defined tasks

- Pass data around via parameters

> ### Object-oriented*

- Organize data and logic in objects (attributes and methods)

- Organize code in logical entities

---

In [1]:
# data


estudiantes = ['pepe', 'juan', 'ana', 'maria']

notas = [3, 5, 8, 9]

In [2]:
estudiantes

['pepe', 'juan', 'ana', 'maria']

In [3]:
notas

[3, 5, 8, 9]

---

### Procedural

In [4]:
nombre = input('Introduce el nombre de un estudiante')

estudiantes.append(nombre)

estudiantes[0] = estudiantes[0].capitalize()

nota = input('Introduce una nota')

nota = int(nota)

notas.append(nota)

print(estudiantes)

print(notas)

Introduce el nombre de un estudianteManue
Introduce una nota8
['Pepe', 'juan', 'ana', 'maria', 'Manue']
[3, 5, 8, 9, 8]

In [5]:
len(estudiantes)

5

---

### Functional

In [6]:
# definicion de la funcion
def estudiar(estudiantes, notas):
    
    nombre = input('Introduce el nombre de un estudiante')
    
    estudiantes.append(nombre)
    
    estudiantes[0] = estudiantes[0].capitalize()
    
    
    nota = int(input('Introduce una nota'))
    
    notas.append(nota)
    
    print(estudiantes)
    print(notas)
    
    return [estudiantes, notas]

In [7]:
estudiantes

['Pepe', 'juan', 'ana', 'maria', 'Manue']

In [8]:
notas

[3, 5, 8, 9, 8]

In [9]:
variable = estudiar(estudiantes, notas)

Introduce el nombre de un estudianteAlejandro
Introduce una nota10
['Pepe', 'juan', 'ana', 'maria', 'Manue', 'Alejandro']
[3, 5, 8, 9, 8, 10]

In [10]:
variable

[['Pepe', 'juan', 'ana', 'maria', 'Manue', 'Alejandro'], [3, 5, 8, 9, 8, 10]]

In [11]:
a = print(8)

8

In [12]:
print(a)

None

In [14]:
def funcion():   # no entra nada
    
    num = 90
    
    num_2 = num**2
    
    lst = []
    
    lst.append(num_2)
    
    # no tiene return, no devuelve nada

In [15]:
funcion()

In [16]:
b = funcion()

In [18]:
return (b)

SyntaxError: 'return' outside function (2166546933.py, line 1)

In [19]:
def funcion():   # no entra nada
    
    num = 90
    
    num_2 = num**2
    
    lst = []
    
    lst.append(num_2)
    
    return lst

In [20]:
b = funcion()

print(b)

[8100]

In [22]:
def sumar(a, b):
    
    return a+b

In [23]:
sumar(8, 9)

17

In [24]:
def multi(a, b):
    
    return a*b

In [25]:
multi(8, 9)

72

In [26]:
def facturar(precio):
    
    tax = multi(precio, 0.21)
    
    iva = multi(precio, 0.15)
    
    precio = sumar(precio, tax)
    
    precio = sumar(precio, iva)
    
    return precio

In [27]:
facturar(250)

340.0

In [28]:
valor = facturar(321.90)

In [29]:
print(valor)

437.784

In [30]:
a = print(8)

print(a)

8
None

In [31]:
def facturar(precio):
    
    tax = multi(precio, 0.21)
    
    iva = multi(precio, 0.15)
    
    precio = sumar(precio, tax)
    
    precio = sumar(precio, iva)

In [32]:
valor = facturar(321.90)

In [33]:
print(valor)

None

In [34]:
precio

NameError: name 'precio' is not defined

---

---

__Some considerations__

In [38]:
# global o local

b

[8100]

In [39]:
def probar():
    
    global b
    
    b.append(90)
    
    print(b)

In [40]:
probar()

[8100, 90]

In [41]:
b

[8100, 90]

In [42]:
print(probar())

[8100, 90, 90]
None

In [43]:
M = 90  # global

In [45]:
display(M)

90

In [46]:
def cambiar():
    
    M = 5  # local
    
    M += 32
    
    
    return M

In [47]:
valor = cambiar()

In [48]:
print(valor)

37

In [49]:
print(M)

90

In [50]:
def cambiar():
    
    global M
    
    M = 5  # Ahora es global
    
    M += 32
    
    
    return M

In [51]:
valor = cambiar()

In [52]:
valor

37

In [53]:
M

37

---

In [54]:
def sumar(a, b, c):
    
    return a+b+c

In [55]:
sumar(8)

TypeError: sumar() missing 2 required positional arguments: 'b' and 'c'

In [56]:
sumar(8, 2)

TypeError: sumar() missing 1 required positional argument: 'c'

In [57]:
sumar(8, 2, 5)

15

In [58]:
def sumar(a, b=2, c=9):
    
    return a+b+c

In [59]:
sumar(8)

19

In [60]:
sumar(2, 3)

14

In [61]:
sumar(2, 3, 12)

17

In [62]:
def sumar(a, b=2, c=9):
    
    return a + b/3 + c**2

In [63]:
sumar(8)

89.66666666666667

In [64]:
sumar(2, 3)

84.0

In [65]:
sumar(2, 3, 12)

147.0

In [66]:
sumar(a=2, b=3, c=12)

147.0

In [67]:
sumar(c=2, a=3, b=12)

11.0

In [68]:
sumar(c=2)

TypeError: sumar() missing 1 required positional argument: 'a'

In [70]:
sumar(34, c=2)

38.666666666666664

In [69]:
def sumar(a=1, b, c):
    
    return a + b/3 + c**2

SyntaxError: non-default argument follows default argument (1088497992.py, line 1)

In [73]:
b=90

In [74]:
sumar(a=b)

171.66666666666669

In [75]:
def sumar(a, b=2, c=9):
    
    return a + b/3 + c**2

In [76]:
sumar(9)

90.66666666666667

In [77]:
sumar(9, 1)

90.33333333333333

In [78]:
sumar(9, 1, 6)

45.333333333333336

In [79]:
lst = [1,2,3]

In [80]:
sumar(lst[0], lst[1], lst[2])

10.666666666666666

In [81]:
sumar(lst)

TypeError: can only concatenate list (not "float") to list

In [82]:
sumar(*lst)   # *  significa desempaqueta la lista

10.666666666666666

In [86]:
def sumar2(*args): # *args significa que tiene un nº indeterminado de entradas
    
    print('Estoy dentro:', args)
    
    return sum(args)

In [87]:
sumar2(*lst)

Estoy dentro: (1, 2, 3)

6

In [88]:
sumar2(lst)

Estoy dentro: ([1, 2, 3],)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [89]:
sumar2(*[1,2,3,4,5,6,7,8,9,0])

Estoy dentro: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

45

In [91]:
def sumar3(*args): # *args significa que tiene un nº indeterminado de entradas
    
    print('Estoy dentro:', args)
    
    lst = []
    
    for e in args:
        
        if e%2==0:
            
            lst.append(e**2)
            
        else:
            
            lst.append('Es impar')
            
            
    return lst

In [92]:
sumar3(*[1,2,3,4,5,6,7,8,9,0])

Estoy dentro: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

['Es impar', 4, 'Es impar', 16, 'Es impar', 36, 'Es impar', 64, 'Es impar', 0]

In [93]:
sumar3([1,2,3,4,5,6,7,8,9,0])

Estoy dentro: ([1, 2, 3, 4, 5, 6, 7, 8, 9, 0],)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [97]:
def sumar4(*args, c=90, d=20): # *args significa que tiene un nº indeterminado de entradas posicionales
    
    print('Estoy dentro:', args)
    
    print(c, d)
    
    return sum(args)

In [98]:
sumar4(*[1,2,3,4,5,6,7,8,9,0])

Estoy dentro: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
90 20

45

In [99]:
sumar4(*[1,2,3,4,5,6,7,8,9,0], c=1, d='hola')

Estoy dentro: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
1 hola

45

In [100]:
dictio = {'c': 10, 'd': 'adios'}

dictio

{'c': 10, 'd': 'adios'}

In [101]:
sumar4(*[1,2,3,4,5,6,7,8,9,0], c=dictio, d='hola')

Estoy dentro: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
{'c': 10, 'd': 'adios'} hola

45

In [102]:
sumar4(*[1,2,3,4,5,6,7,8,9,0], **dictio)  # el ** desempaqueta un dictio, cuyas keys son los nombres de los argumentos

Estoy dentro: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
10 adios

45

In [103]:
def funcion(*args, **kwargs): # es la funcion MÁS general posible
    
    print(args)
    
    print(kwargs)

In [104]:
funcion(*[1,2,3,4,5,6,7,8,9,0], **dictio)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
{'c': 10, 'd': 'adios'}

In [106]:
funcion(*[1,2,3,4,5,6,7,8,9,0], **{'hola': 3, 'adios': 8, 'True': [1,2,3,4,56]})

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
{'hola': 3, 'adios': 8, 'True': [1, 2, 3, 4, 56]}

In [113]:
def funcion2(*args, **kwargs): # es la funcion MÁS general posible
    
    for e in args:
        
        valor = e**2
    
    
    print(valor)
    
    
    for k,v in kwargs.items():
        
        print(k, '---', v)
        
        if k=='hola':
            
            print(k, 'Estoy con el valor que quieres')

In [114]:
funcion2(*[1,2,3,4,5,6,7,8,9,0], **{'hola': 3, 'adios': 8, 'True': [1,2,3,4,56]})

0
hola --- 3
hola Estoy con el valor que quieres
adios --- 8
True --- [1, 2, 3, 4, 56]

In [121]:
def nombrar(**kwargs):
    
    print(kwargs)
    
    nombre = kwargs['name'].upper()
    
    apellido = kwargs['surname'].lower()
    
    return nombre+' '+apellido

In [122]:
nombrar(name='Yona', surname='RoDRiguez')

{'name': 'Yona', 'surname': 'RoDRiguez'}

'YONA rodriguez'

In [120]:
nombrar(**{'name':'Yona', 'surname':'RoDRiguez'})

'YONA rodriguez'

__OOP for the next episode...__