# Ejer 1

In [11]:
def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    Output: the transformed list
    """
    
    # your code here
    
    res = []
    
    for e in lst:
        
        n_temp = lmbda(e)
        
        n_temp = round(n_temp, 2)
        
        res.append(n_temp)
        
        
    return res

In [12]:
temps = [12, 23, 38, -55, 24]

In [13]:
lambda x: x + 273.15

In [14]:
l = lambda x: x + 273.15

In [15]:
l(12)

285.15

In [16]:
modify_list(temps, l)

[285.15, 296.15, 311.15, 218.15, 297.15]

In [17]:
map(lambda x : x+273.15, temps)

In [18]:
list(map(lambda x : round(x+273.15, 2), temps))

[285.15, 296.15, 311.15, 218.15, 297.15]

# Ejer 2

In [19]:
lambda a, b : 1 if a%b==0 or b%a==0 else 0

In [21]:
mod = lambda a, b : 1 if a%b==0 or b%a==0 else 0

In [22]:
mod(20, 2)

1

In [23]:
mod(2, 20)

1

In [24]:
mod(20, 3)

0

In [27]:
def divisor(a):
    """
    Input: a number
    Output: a function that returns 1 if the number is 
    divisible by another number (to be passed later) and zero otherwise.
    """
    
    # your code here
    
    return mod(a, b=5)

In [28]:
divisor(8)

0

In [31]:
divisor(25)

1

# Ejer 3

In [32]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

In [33]:
zip(list1, list2)

In [34]:
list(zip(list1, list2))

[('Green', 'eggs'),
 ('cheese', 'cheese'),
 ('English', 'cucumber'),
 ('tomato', 'tomato')]

In [35]:
list(zip(list1, list2, list1))

[('Green', 'eggs', 'Green'),
 ('cheese', 'cheese', 'cheese'),
 ('English', 'cucumber', 'English'),
 ('tomato', 'tomato', 'tomato')]

In [36]:
zipea = lambda lst1, lst2: [(lst1[i], lst2[i]) for i in range(len(lst1))]

In [37]:
zipea(list1, list2)

[('Green', 'eggs'),
 ('cheese', 'cheese'),
 ('English', 'cucumber'),
 ('tomato', 'tomato')]

In [38]:
zipea2 = lambda lst1, lst2: [lst1[i] + '_' + lst2[i] for i in range(len(lst1))] 

zipea2(list1, list2)

['Green_eggs', 'cheese_cheese', 'English_cucumber', 'tomato_tomato']

In [40]:
list1[0] + '_' + list2[0]

'Green_eggs'

# Ejer 4

In [41]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

d

{'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

In [43]:
sorted(d.items())   # esto esta ordenado por keys

[('Audi', 2001), ('BMW', 2005), ('Honda', 1997), ('Toyota', 1995)]

In [44]:
dict(sorted(d.items()))

{'Audi': 2001, 'BMW': 2005, 'Honda': 1997, 'Toyota': 1995}

In [45]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [47]:
sorted(d.items(), key=lambda x: x[1])  # esto esta ordenado por values

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]

In [48]:
dict(sorted(d.items(), key=lambda x: x[1]))

{'Toyota': 1995, 'Honda': 1997, 'Audi': 2001, 'BMW': 2005}

# Map reduce filter Ejer 1

In [49]:
from functools import reduce

In [51]:
# Run this code:

location = 'data/58585-0.txt'  # ruta relativa, donde esta el archivo


# abrir y leer el archivo en formato string (f.read), y lo convierte a lista con el .split()
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

In [54]:
len(prophet)

13637

In [55]:
len(prophet[568:])

13069

In [56]:
prophet = prophet[568:]

In [57]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    
    # your code here
    
    x = x.split('{')[0]
    
    return x

In [58]:
reference('the{7}')

'the'

In [62]:
prophet_reference = list(map(reference, prophet))

In [63]:
prophet_reference[:10]

['PROPHET\n\n|Almustafa,',
 'the',
 'chosen',
 'and',
 'the\nbeloved,',
 'who',
 'was',
 'a',
 'dawn',
 'unto']

In [64]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    
    # your code here
    
    return x.split('\n')

In [65]:
line_break('the\nbeloved')

['the', 'beloved']

In [68]:
prophet_line = list(map(line_break, prophet_reference))

In [69]:
prophet_line[:10]

[['PROPHET', '', '|Almustafa,'],
 ['the'],
 ['chosen'],
 ['and'],
 ['the', 'beloved,'],
 ['who'],
 ['was'],
 ['a'],
 ['dawn'],
 ['unto']]

In [70]:
res = []


for lista in prophet_line:
    
    for e in lista:
        
        res.append(e)  # es para introducir el elemento dentro de la lista res
        
        
res[:10]

['PROPHET',
 '',
 '|Almustafa,',
 'the',
 'chosen',
 'and',
 'the',
 'beloved,',
 'who',
 'was']

In [71]:
prophet_flat = [e for lista in prophet_line for e in lista]

prophet_flat[:10]

['PROPHET',
 '',
 '|Almustafa,',
 'the',
 'chosen',
 'and',
 'the',
 'beloved,',
 'who',
 'was']

In [73]:
prophet_flat = reduce(lambda a,b: a+b, prophet_line)

prophet_flat[:10]

['PROPHET',
 '',
 '|Almustafa,',
 'the',
 'chosen',
 'and',
 'the',
 'beloved,',
 'who',
 'was']

In [74]:
def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here
    
    return x not in word_list

In [75]:
word_filter('and')

False

In [76]:
word_filter('John')

True

In [78]:
prophet_flat[:20]

['PROPHET',
 '',
 '|Almustafa,',
 'the',
 'chosen',
 'and',
 'the',
 'beloved,',
 'who',
 'was',
 'a',
 'dawn',
 'unto',
 'his',
 'own',
 'day,',
 'had',
 'waited',
 'twelve',
 'years']

In [79]:
prophet_filter = list(filter(word_filter, prophet_flat))

prophet_filter[:20]

['PROPHET',
 '',
 '|Almustafa,',
 'chosen',
 'beloved,',
 'who',
 'was',
 'dawn',
 'unto',
 'his',
 'own',
 'day,',
 'had',
 'waited',
 'twelve',
 'years',
 'in',
 'city',
 'of',
 'Orphalese']

In [80]:
# case insensitive

def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here
    
    return x.lower() not in word_list

In [81]:
prophet_filter = list(filter(word_filter, prophet_flat))

prophet_filter[:20]

['PROPHET',
 '',
 '|Almustafa,',
 'chosen',
 'beloved,',
 'who',
 'was',
 'dawn',
 'unto',
 'his',
 'own',
 'day,',
 'had',
 'waited',
 'twelve',
 'years',
 'in',
 'city',
 'of',
 'Orphalese']

In [82]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # your code here
    
    return a + ' ' + b

In [83]:
concat_space('John', 'Smith')

'John Smith'

In [87]:
type(prophet_filter)

list

In [86]:
prophet_string = reduce(concat_space, prophet_filter)

type(prophet_string)

str

In [88]:
prophet_string = reduce(lambda a, b: a + ' ' + b, prophet_filter)

type(prophet_string)

str