## JSON

In [1]:
dictio = {'hola': 2, 'adios': 3}

In [2]:
dictio

{'hola': 2, 'adios': 3}

In [3]:
import json

In [4]:
with open('data.json', 'w') as f:
    
    json.dump(dictio, f)
    
print('Esta guardado y cerrado')

Esta guardado y cerrado

In [5]:
data = [{'hola': i, 'adios': i**2} for i in range(10)]

data

[{'hola': 0, 'adios': 0},
 {'hola': 1, 'adios': 1},
 {'hola': 2, 'adios': 4},
 {'hola': 3, 'adios': 9},
 {'hola': 4, 'adios': 16},
 {'hola': 5, 'adios': 25},
 {'hola': 6, 'adios': 36},
 {'hola': 7, 'adios': 49},
 {'hola': 8, 'adios': 64},
 {'hola': 9, 'adios': 81}]

In [6]:
with open('data2.json', 'w') as f:
    
    json.dump(data, f)
    
print('Esta guardado y cerrado')

Esta guardado y cerrado

In [9]:
with open('data2.json', 'r') as f:
    
    data_ca = json.load(f)

In [10]:
data_ca

[{'hola': 0, 'adios': 0},
 {'hola': 1, 'adios': 1},
 {'hola': 2, 'adios': 4},
 {'hola': 3, 'adios': 9},
 {'hola': 4, 'adios': 16},
 {'hola': 5, 'adios': 25},
 {'hola': 6, 'adios': 36},
 {'hola': 7, 'adios': 49},
 {'hola': 8, 'adios': 64},
 {'hola': 9, 'adios': 81}]

In [12]:
import pandas as pd


df = pd.read_csv('data/crop_yield.csv')

df.head()

  Fert Water  Yield
0    A  High   27.4
1    A  High   33.6
2    A  High   29.8
3    A  High   35.2
4    A  High   33.0

In [18]:
df.to_json('data/campo.json', orient='records')

In [19]:
pd.read_json('data/campo.json').head()

  Fert Water  Yield
0    A  High   27.4
1    A  High   33.6
2    A  High   29.8
3    A  High   35.2
4    A  High   33.0

In [20]:
with open('data/campo.json', 'r') as f:
    
    data = json.load(f)

In [21]:
data

[{'Fert': 'A', 'Water': 'High', 'Yield': 27.4},
 {'Fert': 'A', 'Water': 'High', 'Yield': 33.6},
 {'Fert': 'A', 'Water': 'High', 'Yield': 29.8},
 {'Fert': 'A', 'Water': 'High', 'Yield': 35.2},
 {'Fert': 'A', 'Water': 'High', 'Yield': 33.0},
 {'Fert': 'B', 'Water': 'High', 'Yield': 34.8},
 {'Fert': 'B', 'Water': 'High', 'Yield': 27.0},
 {'Fert': 'B', 'Water': 'High', 'Yield': 30.2},
 {'Fert': 'B', 'Water': 'High', 'Yield': 30.8},
 {'Fert': 'B', 'Water': 'High', 'Yield': 26.4},
 {'Fert': 'A', 'Water': 'Low', 'Yield': 32.0},
 {'Fert': 'A', 'Water': 'Low', 'Yield': 32.2},
 {'Fert': 'A', 'Water': 'Low', 'Yield': 26.0},
 {'Fert': 'A', 'Water': 'Low', 'Yield': 33.4},
 {'Fert': 'A', 'Water': 'Low', 'Yield': 26.4},
 {'Fert': 'B', 'Water': 'Low', 'Yield': 26.8},
 {'Fert': 'B', 'Water': 'Low', 'Yield': 23.2},
 {'Fert': 'B', 'Water': 'Low', 'Yield': 29.4},
 {'Fert': 'B', 'Water': 'Low', 'Yield': 19.4},
 {'Fert': 'B', 'Water': 'Low', 'Yield': 23.8}]

## Distintos tipos de datos

In [22]:
2 + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
a = 2

a

2

In [24]:
f'{a} - a'

'2 - a'

In [41]:
df = pd.read_json('data/campo.json')

In [29]:
df['nueva'] = 0

In [42]:
df['nueva'] = df.Fert + df.Yield

TypeError: can only concatenate str (not "float") to str

In [35]:
for i in range(len(df)):
    
    print(df.Fert.iloc[i], df.Yield.iloc[i])

A 27.4
A 33.6
A 29.8
A 35.2
A 33.0
B 34.8
B 27.0
B 30.2
B 30.8
B 26.4
A 32.0
A 32.2
A 26.0
A 33.4
A 26.4
B 26.8
B 23.2
B 29.4
B 19.4
B 23.8

In [36]:
for i in range(len(df)):
    
    n = f'{df.Fert.iloc[i]} - {df.Yield.iloc[i]}'
    
    print(n)

A - 27.4
A - 33.6
A - 29.8
A - 35.2
A - 33.0
B - 34.8
B - 27.0
B - 30.2
B - 30.8
B - 26.4
A - 32.0
A - 32.2
A - 26.0
A - 33.4
A - 26.4
B - 26.8
B - 23.2
B - 29.4
B - 19.4
B - 23.8

In [38]:
df.Yield = df.Yield.apply(str)

In [43]:
df['nueva'] = df.Fert + '-' + df.Yield.apply(str)

In [44]:
df

   Fert Water  Yield   nueva
0     A  High   27.4  A-27.4
1     A  High   33.6  A-33.6
2     A  High   29.8  A-29.8
3     A  High   35.2  A-35.2
4     A  High   33.0  A-33.0
5     B  High   34.8  B-34.8
6     B  High   27.0  B-27.0
7     B  High   30.2  B-30.2
8     B  High   30.8  B-30.8
9     B  High   26.4  B-26.4
10    A   Low   32.0  A-32.0
11    A   Low   32.2  A-32.2
12    A   Low   26.0  A-26.0
13    A   Low   33.4  A-33.4
14    A   Low   26.4  A-26.4
15    B   Low   26.8  B-26.8
16    B   Low   23.2  B-23.2
17    B   Low   29.4  B-29.4
18    B   Low   19.4  B-19.4
19    B   Low   23.8  B-23.8

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fert    20 non-null     object
 1   Water   20 non-null     object
 2   Yield   20 non-null     float64
 3   nueva   20 non-null     object
dtypes: float64(1), object(3)
memory usage: 768.0+ bytes