# 3.1 - SQL en python

![python_sql](images/python_sql.png)

**Primero cargar datos...**

In [ ]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [ ]:
df=pd.read_csv('../data/shoes.csv')

df.head()

In [ ]:
# seleccion de columnas

df=df[['brand', 'colors', 'sizes', 'prices.amountMax', 'imageURLs', 'ean']]

df.head()

In [ ]:
df=df.dropna().reset_index(drop=True)

df.head()

In [ ]:
df.info(memory_usage='deep')

In [ ]:
codigo=pd.read_csv('../data/upc_corpus.csv')

codigo.head()

In [ ]:
df.ean = codigo.ean.iloc[0:len(df)]

df.head()

In [ ]:
# un registro por talla y color

In [ ]:
df.sizes = df.sizes.apply(lambda x: x.split(','))
df.colors = df.colors.apply(lambda x: x.split(','))

In [ ]:
df.head()

In [ ]:
df = df.explode('sizes').reset_index(drop=True)

df = df.explode('colors').reset_index(drop=True)

df.head()

In [ ]:
df=df.dropna().reset_index(drop=True)

In [ ]:
df.columns = ['brand', 'color', 'size', 'price', 'image', 'ean']

df.head()

In [ ]:
df['id'] = [i for i in range(len(df))]

df.head()

In [ ]:
df.info(memory_usage='deep')

### MySQL Connector

In [ ]:
%pip install mysql-connector-python

In [ ]:
import mysql.connector as conn

In [ ]:
# conexion al servidor y crear una base de datos vacia



conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password'
                       )


cursor = conexion.cursor()


cursor

In [ ]:
cursor.execute('drop database if exists productos;')  # borra db si existe

cursor.execute('create database productos;')   # crea una db

In [ ]:
c = cursor.execute

c('create database if not exists productos;')

In [ ]:
conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password',
                        database='productos'
                       )


cursor = conexion.cursor()

In [ ]:
c=cursor.execute

c

In [ ]:
c('drop table if exists zapatos;')


query ='''

create table zapatos(

        id int primary key not null,
        brand varchar(50),
        color varchar(50),
        size varchar(50),
        price float,
        image varchar(10000),
        ean varchar(50)
        
        );
'''


c(query)

In [ ]:
type(query)

In [ ]:
# check

cursor.execute('show tables;')

for e in cursor:
    print(e)

### Inserta datos

In [ ]:
# insert into tabla (col1, col2, ....) values (v1, v2, .....)


nombre_tabla = 'zapatos'

nombre_columnas = ','.join(df.columns)


# bucle por filas
for i in range(df.shape[0]):   # para cada fila..
    
    valores = tuple(df.iloc[i].values)  # ==(v1, v2, .....)
    
    insert_query = f'insert into {nombre_tabla} ({nombre_columnas}) values {valores}'
    
    cursor.execute(insert_query)

In [ ]:
insert_query

In [ ]:
# check 

cursor.execute('select * from zapatos limit 2;')

for x in cursor:
    print(x)

In [ ]:
# check 

cursor.execute('select count(*) from zapatos;')

for x in cursor:
    print(x)

### SqlAlchemy

In [ ]:
%pip install SQLAlchemy==2.0.10

In [ ]:
%pip install pymysql

In [ ]:
from sqlalchemy import create_engine

In [ ]:
# conexion a servidor y creacion una base de datos

# string de conexion - URI

# lenguaje+driver://usuario:password@servidor:puerto


str_conn = 'mysql+pymysql://root:password@localhost:3306'

cursor = create_engine(str_conn)

cursor.execute('drop database if exists apps;')

cursor.execute('create database apps;')

### SQL - Pandas

In [ ]:
# lenguaje+driver://usuario:password@servidor:puerto/database


str_conn = 'mysql+pymysql://root:password@localhost:3306/apps'

cursor = create_engine(str_conn)

In [ ]:
data = pd.read_csv('../data/apple_store.csv')

data.head()

In [ ]:
data.to_sql(name='ratings',       # nombre de la tabla
            con=cursor,           # conexion al servidor
            if_exists='replace',  # replace sobreescribe la tabla
            index=True
           )

In [ ]:
data.shape

In [ ]:
df.shape

In [ ]:
df.to_sql(name='zapatos',       
          con=create_engine('mysql+pymysql://root:password@localhost:3306/productos'),           
          if_exists='append',   # añade
          index=True 
           )

In [ ]:
df.info()

In [ ]:
df2 = pd.read_sql('select * from ratings limit 3;', cursor)

df2

In [ ]:
query = '''

select track_name, user_rating, prime_genre

    from ratings
    
    where price=0 and user_rating>4

;
'''



datos = pd.read_sql(query, cursor)

datos.head()

In [ ]:
query = '''

select prime_genre,
       sum(rating_count_tot) as total_rating,
       avg(user_rating) as avg_rating

    from ratings
    
    where price=0 
    
    group by prime_genre
    
    order by total_rating desc
    
    limit 10;

;
'''



datos = pd.read_sql(query, cursor)

datos

In [ ]:
datos.to_sql(name='generos', con=cursor)

In [ ]:
pd.read_sql('select * from generos;', cursor)

In [ ]:
pd.read_sql('select * from ratings limit 3;', cursor)

In [ ]:
cursor.execute('alter table ratings add primary key (id);')    # añade PK

In [ ]:
datos=pd.read_sql('''select *
                     
                     from ratings
                     
                     where price=0
                     
                     limit 10;''', cursor)


datos.to_sql(name='rateos', con=cursor, if_exists='replace', index=False)

In [ ]:
query = 'alter table rateos add foreign key (id) references ratings(id);'

cursor.execute(query)

In [ ]:
str_conn='mysql+pymysql://root:password@localhost:3306/publications'

cursor=create_engine(str_conn)

In [ ]:
query='''
        select title, year(max(pubdate)) as 'year',
                count(titleauthor.title_id) as num_titles,
                group_concat(concat(authors.au_fname, ' ', authors.au_lname)) as authors
        
        from titles
        
        left join titleauthor
        on titles.title_id=titleauthor.title_id
        
        left join authors
        on authors.au_id=titleauthor.au_id
        
        group by titles.title
        
        order by num_titles desc;

'''

In [ ]:
df_sql = pd.read_sql(query, cursor)

df_sql.head()

In [ ]:
%%time

pd.read_sql('select * from employee;', cursor)['job_lvl'].count() # movi toda la tabla

In [ ]:
%%time

pd.read_sql('select count(job_lvl) as j from employee;', cursor)['j'][0]

In [ ]:
# password


str_conn='mysql+pymysql://root:password@localhost:3306/publications'

cursor=create_engine(str_conn)

In [ ]:
with open('contraseñas.txt') as file:
    
    passwd = file.read()

In [ ]:
str_conn=f'mysql+pymysql://root:{passwd}@localhost:3306/publications'

cursor=create_engine(str_conn)

In [ ]:
cursor.execute('show tables;').fetchall()

In [ ]:
from pass_ import PASSWORD

In [ ]:
str_conn=f'mysql+pymysql://root:{PASSWORD}@localhost:3306/publications'

cursor=create_engine(str_conn)

In [ ]:
import pass_

In [ ]:
pass_.PASSWORD