# List Comprehension

In [1]:
%%time

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 12.2 µs

In [2]:
%%time

lst = []


for i in range(1000000):
    
    lst.append(i)
    
    
lst[:10]

CPU times: user 61.5 ms, sys: 6.04 ms, total: 67.5 ms
Wall time: 66.5 ms

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
len(lst)

1000000

In [4]:
%%time

lst = [i for i in range(1000000)]

lst[:10]

CPU times: user 43.6 ms, sys: 13.8 ms, total: 57.3 ms
Wall time: 56.1 ms

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
len(lst)

1000000

In [6]:
palabras = ['hola', 'gdejnfg', 'adios', 'oierufn9', 'poreopkpowk']

palabras

['hola', 'gdejnfg', 'adios', 'oierufn9', 'poreopkpowk']

In [12]:
mayus = []


for e in palabras:
    
    mayus.append(e.upper())
    
mayus

['HOLA', 'GDEJNFG', 'ADIOS', 'OIERUFN9', 'POREOPKPOWK']

In [9]:
mayus2 = [e.upper() for e in palabras]

mayus2

['HOLA', 'GDEJNFG', 'ADIOS', 'OIERUFN9', 'POREOPKPOWK']

In [14]:
mayus.capitalize()

AttributeError: 'list' object has no attribute 'capitalize'

In [15]:
type(mayus)

list

In [16]:
lst = []


for i in range(20):
    
    if i%2==0:
        
        lst.append(i)
        
        
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
lst2 = [i for i in range(20) if i%2==0]


lst2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
lst = []


for i in range(20):
    
    if i%2==0:
        
        lst.append(i)
        
    elif i%2==1:
        
        lst.append(i+10)
        
        
lst

[0, 11, 2, 13, 4, 15, 6, 17, 8, 19, 10, 21, 12, 23, 14, 25, 16, 27, 18, 29]

In [20]:
lst2 = [i if i%2==0 else i+10 for i in range(20)]


lst2

[0, 11, 2, 13, 4, 15, 6, 17, 8, 19, 10, 21, 12, 23, 14, 25, 16, 27, 18, 29]

In [22]:
lst = []


for i in range(10):
    
    if i%3==0:
        
        lst.append(i)
        
    elif i%3==1:
        
        lst.append(i+10)
        
    else:
        
        lst.append('hola')
        
        
lst

[0, 11, 'hola', 3, 14, 'hola', 6, 17, 'hola', 9]

In [24]:
lst2 = [i if i%3==0 else (i+10 if i%3==1 else 'hola') for i in range(10)]


lst2

[0, 11, 'hola', 3, 14, 'hola', 6, 17, 'hola', 9]

In [25]:
matriz = [[1,2,3], [4,5,6], [7,8,9]]

matriz

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
len(matriz)

3

In [29]:
flat = []


for fila in matriz:
    
    for elem in fila:
        
        flat.append(elem)
        
flat

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
flat2 = [elem for fila in matriz for elem in fila]


flat2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
flat = []


for fila in matriz:
    
    for elem in fila:
        
        if elem%2==0:
            
            flat.append(elem)

        
flat

[2, 4, 6, 8]

In [34]:
flat2 = [elem for fila in matriz for elem in fila if elem%2==0]

flat2

[2, 4, 6, 8]

In [39]:
matriz = []


for fila in range(3):
    
    tmp_lst = 9
        
    matriz.append(tmp_lst)
    
matriz

[9, 9, 9]

In [40]:
matriz = [9 for fila in range(3)]

matriz

[9, 9, 9]

In [36]:
matriz = []


for fila in range(3):
    
    tmp_lst = []
    
    for elem in range(4):
        
        tmp_lst.append(elem)
        
    matriz.append(tmp_lst)
    
matriz

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [38]:
matriz2 = [[elem for elem in range(4)] for fila in range(3)]

matriz2

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [42]:
# Ejercicio 1 - lista de 1 a 50


lst = []

for i in range(1, 51):
    
    lst.append(i)
    
lst[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
lst = [i for i in range(1, 51)]

lst[:4]

[1, 2, 3, 4]

__Worth reading:__

- https://medium.com/techtofreedom/8-levels-of-using-list-comprehension-in-python-efc3c339a1f0

- https://betterprogramming.pub/3-misuses-of-python-list-comprehension-to-avoid-54adc312e48c